<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="expires" content="0"/>
    <title>Altran OpenWheatherMap API task</title>
    <!-- Spec compliant (includes Chrome) -->
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes"/>
    <base href="/"/>
</head>
    <body>
      <div id="root" />
    </body>
</html>
